# Python
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Image outputs and temp files
*.jpg
*.png
*.jpeg
*.bmp
*.tiff
*.log
